.main {
  width: 540px;
  margin: auto;
  height: 80vh;
}

.create_main {
  width: 540px;
  margin: 20px auto;
  height: 80vh;
  border-top: 10px solid #3A9DBD;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  background-color: #F9F7F5;
}

.create_main h2 {
  font-size: 24px;
  letter-spacing: 3px;
  margin: 20px 0;
}

.list {
  width: 95%;
  margin: 20px auto;
  background-color: #FFF;
  line-height: 3;
  border-radius: 10px;
}

.list a {
  display: block;
  color: #0968CD;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
}

.list a:hover {
  background-color: #EEE;
  border-radius: 10px;
}

.border {
  border: 1px solid #DDD;
  border-radius: 10px;
  margin: 10px;
}

.create_form {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.create_form label {
  width: 45%;
  margin: auto;
}

.create_form select {
  width: 45%;
  margin: auto;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #3A9DBD;
}

.create_form input {
  width: 45%;
  margin: auto;
  display: block;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #3A9DBD;
  box-sizing: border-box;
}

.create_form textarea {
  width: 45%;
  line-height: 2;
  height: 100px;
  margin: auto;
  display: block;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #3A9DBD;
  box-sizing: border-box;
}

form button {
  display: block;
  width: 30%;
  padding: 10px;
  margin: auto;
  border: 1px solid #3A9DBD;
  color: #3A9DBD;
  transition: 0.2s;

  background-color: #DDD;
  pointer-events: none;
}

.activeBtn {
  background-color: #FFF;
  pointer-events: auto;
  cursor: pointer;
  transition: 0.2s;
}

.activeBtn:hover {
  background-color: #3A9DBD;
  color: #FFF;
}

#msg_box.fadeout {
  opacity: 0;
  transition: opacity 1s ease-out;
}