body {
  /* background-color: #eee; */
  font-family: "Noto Sans JP";
  width: 100%;
}

.container {
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  height: 80vh;
}

.todo_list {
  flex-shrink: 0;
  width: calc((100% - 20px * 3) / 3);
  margin: 0 10px;
  border-top: 10px solid #3A9DBD;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  background-color: #F9F7F5;
  height: 100%;

  transition: 0.5s;

  display: flex;
  flex-direction: column; 
}

.task_add_btn {
  position: relative;
  width: 100px;
  transition: 0.5s;
}

.button {
  width: 100%;
  height: 10vh;
  overflow: auto;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button div {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button div p {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #EEE;
  transition: 0.2s;
  cursor: pointer;
}

#next:active, #prev:active {
  background-color: #333;
}

#page div {
  width: 10px;
  height: 10px;
  border: 1px solid #333;
  margin: 10px;
  border-radius: 10px;
}

#prev {
  left: 1.5%;
  background-color: gray;
}

#next {
  right: 1.5%;
}

.todo_list h2 {
  font-size: 24px;
  letter-spacing: 3px;
  margin: 20px 0;
}

.add_list {
  width: 95%;
  margin: 20px auto;
  background-color: #FFF;
  line-height: 3;
  border-radius: 10px;
}

#add_list {
  display: block;
  color: #0968CD;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
}

#add_list:hover {
  background-color: #EEE;
  border-radius: 10px;
}

.todo_contents {
  width: 100%;
  height: 700px;
  overflow: auto;

  /* flex: 1 1 auto;  */
  overflow-y: auto; 
  /* min-height: 0; */
}

.todo_box {
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 10px;  
  box-sizing: border-box;
}

.todo_box a {
  text-decoration: none;
  padding: 20px;
  display: block;
  border-radius: 10px;
  transition: 0.2s;
  box-shadow: 3px 3px 3px #ddd;
}

.todo_box a:hover {
  background-color: #EEE;
}

.todo_box p, .todo_box h3 {
  line-height: 2;
} 

.task_title {
  margin-bottom: 10px;
  color: #555;
}

.task_date {
  color: #999;
}

.task_date span {
  color: #333;
}

.task_status {
  width: 50px;
  padding: 0 5px;
  border-radius: 5px;
  color: #333;
  font-size: 12px;
  text-align: center;
}

.task_status_1 {
  background-color: #ff7777;
}
.task_status_2 {
  background-color: #85aaff;
}
.task_status_3 {
  background-color: #ffda7b;
}

#task_add_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#task_add_btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: 2px solid #0968CD;
  border-radius: 20px;
    cursor: pointer;
}

.plus_btn {
  display: inline-block;
  vertical-align: middle;
  color: #0968CD;
  width: 1em;
  height: 0.2em;
  background: currentColor;
  border-radius: 0.1em;

  position: relative;
}
.plus_btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

#task_add_btn:hover .plus_btn{
  background-color: #0968CD;
  color: #FFF;
}

.message {
  text-align: center;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.message h3 {
  font-size: 18px;
  color: #333;
  line-height: 3;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #F9F7F5;
  padding: 30px;
}



/* ここからcreate_category */

.create_category {
  width: 540px;
  background-color: #F9F7F5;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 10px;
  
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);

  display: none;
}

.create_category h3 {
  margin: 20px;
  font-size: 18px;
  position: relative;
}

.square_btn {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
  transition: 0.2s;

  position: absolute;
  top: -20px;
  right: -20px;
}
 
.square_btn::before, .square_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 20px;
  background: #333;
}
 
.square_btn::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
.square_btn::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}
.square_btn:hover {
  background: #3A9DBD;
}

.create_category_box {
  display: flex;
  margin-bottom: 30px;
}

.create_category_box p{
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;
  margin-right: 20px;
}

.create_category_box input {
  width: 200px;
  line-height: 2;
  font-size: 14px;
  box-sizing: border-box;
}

.createBtn {
  display: block;
  width: 20%;
  padding: 10px;
  margin: auto;
  border: 1px solid #3A9DBD;
  color: #3A9DBD;
  transition: 0.2s;
  cursor: pointer;
  background-color: #FFF;
}

.createBtn:hover {
  color: #FFF;
  background-color: #3A9DBD;
}


/* jsで追加するスタイル */
.dimmed {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.7;
  transition: background-color 0.3s;
  pointer-events: none;
}
.active_box {
  display: block;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}